In [18]:
import blackjack_game as bjg
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
basic_strat_dict = {'Funds':[10000], 'initial_sum':[np.nan], 'hold_card':[np.nan], 
                    'player_sum': [np.nan], 'dealer_sum':[np.nan], 'decision':[np.nan]}

In [3]:
G = bjg.Game(bet=100,funds=10000,deck_num=1)

In [4]:
for _ in range(round(1e7)):
    funds, count, bet, dealer_hand, player_hand = G.blackjack()
    hole_card = dealer_hand[0]
    initial_value = bjg.sum_hand(hand=player_hand[:2])
    
    final_d = bjg.sum_hand(dealer_hand) 
    final_p = bjg.sum_hand(player_hand)
    decision = bjg.find_winner(final_p, final_d)
    
    basic_strat_dict['Funds'].append(funds)
    basic_strat_dict['initial_sum'].append(initial_value)
    basic_strat_dict['hold_card'].append(hole_card)
    basic_strat_dict['player_sum'].append(final_p)
    basic_strat_dict['dealer_sum'].append(final_d)
    basic_strat_dict['decision'].append(decision)

In [5]:
df = pd.DataFrame(basic_strat_dict)

In [20]:
df.head(10)

     Funds  initial_sum hold_card  player_sum  dealer_sum  decision
0  10000.0          NaN       NaN         NaN         NaN       NaN
1  10100.0          8.0         3        18.0        23.0       1.0
2  10200.0         15.0        10        15.0        26.0       1.0
3  10100.0         18.0         5        18.0        19.0      -1.0
4  10000.0         12.0        10        15.0        18.0      -1.0
5  10100.0         14.0         K        21.0        20.0       1.0
6  10200.0         15.0         3        15.0        22.0       1.0
7  10300.0         19.0         8        19.0        17.0       1.0
8  10200.0         15.0         Q        25.0        20.0      -1.0
9  10350.0         21.0         Q        21.0        20.0       1.0

In [ ]:
df['occurences'] = df.groupby(by='initial_sum')